@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;700&display=swap');
@import url(/newworld/fonts.css);

* {
    margin: 0 0;
}


header {
    background-color: #5c1328;
    padding: 28px 30px;

}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    font-family: Cormorant;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    margin: 0 0;
}

.menu .burger {
    border: none;
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    background-color: transparent;
}


.burger span::after, 
.burger span::before {   
    content: '';     
    position: absolute;
    top: 50%;
    margin-top:  -1px ;
    width: 32px;
    height: 1px;
    transform: translateX(-16px);
    color: white;
}

.burger span::after,
.burger span::before { 
    content: ''; 
    position: absolute;
    top: 50%;
    margin-top:  -1px ;
    width: 32px;
    height: 1px;
    background-color: #FFFFFF;
}

.burger span::after {
    transform: translateY(3.5px) translateX(-16px);
}

.burger span::before {
    transform: translateY(-3.5px) translateX(-16px);
}

.main_page {
    padding: 36px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F2EC;
}

.main_page h1 {
    margin: 0 0;
    margin-bottom: 28px;
    color: #5c1328;
    font-family: Cormorant;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    line-height: 43px;
}

.main_page button {
    background-color: #5c1328;
    border-radius: 0;
    border: 0;
    font-family: HelveticaNeueCyr; 
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 15px;
    color: white;
    padding: 15px 0;
    width: 100%;
}

.vacancies_button {
    width: 100%;
    border-top: 1px solid #5c1328;
    padding-top: 5px;
    border-bottom: 1px solid #5c1328;
    padding-bottom: 5px;
}

.introduction {
    margin: 0 0;
    padding: 40px 30px;
    font-family: HelveticaNeueCyr;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666462;
}

.advantages .section h2 {
    font-family: 21 cent;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #45423F;    
    margin-bottom: 24px;
}

.advantages .section p {
    font-family: HelveticaNeueCyr;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color:#666462
}

.advantages .section {
    padding: 32px 30px;
    background-color: #F5F2EC;
}